<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IToDoService" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="TooDoo.Services.ToDoService">
        <endpoint address="http://localhost:2120/ToDoServices"
                  behaviorConfiguration="restfulbehavior"
                  binding="webHttpBinding"
                  contract="TooDoo.Services.IToDoService"
                  name="RESTEndpoint">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulbehavior">
          <webHttp automaticFormatSelectionEnabled="false" defaultBodyStyle="WrappedRequest"></webHttp>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="1" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>